<!DOCTYPE>
<html>
    <head>
        <title>Simple booking app</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <a href="http://localhost:3000">Open application</a>
    </body>
</html>