.seat {
    width: 30px;
    height: 90px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
}

.seat-year
{
    flex: 1;
    font-weight: bold;
}

.seat-day-month
{
    flex: 1;
}

.seat-seats-number
{
    flex: 1;
}